.links a {
  display: block;
  padding: 5px 0px;
}
.links .column {
  float:left; width:33%; text-align: center;
}

.quote {
    clear: both;
    padding-top: 20px;
}

.show {
    float: left;
    width: 50%;
}
